<!-- header wrapper -->
<header class="header-wrapper overflow-hidden">

  <!-- top header -->
  <div class="top-header d-flex justify-content-evenly mt-3">
    <p class="text-white">+1856235423</p>
    <p class="text-white">youremail@email.com</p>
    <p class="text-white">+Open hours: Monday - Sunday 8:00AM - 9:00PM</p>
  </div>

  <!-- Navbar  -->
  <nav class="navbar navbar-expand-lg navbar-light ftco-navbar-light">
    <div class="container-fluid">
      <a class="navbar-brand text-white fw-bolder" href="#">My Restaurant</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto ">
          <li class="nav-item">
            <a class="nav-link active text-white fw-bold" aria-current="page" href="#carouselExampleControls">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white fw-bold" href="#about-section">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white fw-bold" href="#our-menu">Menu</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white fw-bold" href="#stories">Stories</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white fw-bold" href="#contact" tabindex="-1" aria-disabled="false">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white fw-bold" routerLink="loginForm" tabindex="-1"
              aria-disabled="false">Login</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
