<div class="container">
  <form (ngSubmit)="submitRegisterForm()" [formGroup]="userRegisterForm">

    <!-- name field -->
    <div class="mb-3">
      <label>Name</label>
      <input type="text" class="form-control" formControlName="name">
      <!-- name validation  -->
      <div class="error  text-danger"
        *ngIf="userRegisterForm.controls['name'].invalid && (userRegisterForm.controls['name'].dirty || userRegisterForm.controls['name'].touched)">
        <span
          *ngIf="userRegisterForm.controls['name'].errors.minlength || userRegisterForm.controls['name'].errors.maxlength ">
          <small>Name between 4 to 20 Characters!</small></span>
        <span *ngIf="(userRegisterForm.controls['name'].errors.pattern)">
          Only Alphabets & Spaces Allowed</span>
        <span *ngIf="userRegisterForm.controls['name'].errors.required">
          <small>Field Required!</small>
        </span>
      </div>
    </div>

    <!-- email field -->
    <div class="mb-3">
      <label>Email address</label>
      <input type="email" class="form-control" formControlName="email">
      <!-- email validation -->
      <div class="error  text-danger"
        *ngIf="userRegisterForm.controls['email'].invalid && (userRegisterForm.controls['email'].dirty || userRegisterForm.controls['email'].touched)">
        <span *ngIf="userRegisterForm.controls['email'].errors.required">
          <small>Field Required!</small>
        </span>
      </div>
    </div>

    <!-- password field -->
    <div class="mb-3">
      <label>Password</label>
      <input type="password" class="form-control" formControlName="password">
      <!-- password validation -->
      <div class="error  text-danger"
        *ngIf="userRegisterForm.controls['password'].invalid && (userRegisterForm.controls['password'].dirty || userRegisterForm.controls['password'].touched)">
        <span *ngIf="userRegisterForm.controls['password'].errors.required">
          <small>Field Required!</small>
        </span>
      </div>
    </div>

    <!-- submit button -->
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
