<footer class="-bg-footer" id="footer">
  <div class="container-fluid">
    <div class="row footer-align">
      <div class="col-md-4 col-sm-4">
        <h5>Park Avenue</h5>
        <hr class="hr-foot">
        <div class="footer-items">
          <p class="footer">
            The EU-27 has an estimated 1.6m businesses involved in 'accommodation and food services', more than 75% of
            which are small and medium enterprises.
          </p>
          <ul class="social-networks">
            <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
            <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
          </ul>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <h5>Our contact</h5>
        <hr class="hr-foot">
        <div class="footer-items">
          <address>
            456 Park Avenue
            <br>
            New York, NY 10022
            <br>
            USA
            <br>
            <i class="fa fa-phone address"></i> +1-978-123-4567
            <br>
            <i class="fa fa-fax address"></i> +1-567-253-4886
            <br>
            <i class="fa fa-envelope address"></i> <a href="mailto:northstreet@gmail.com">northstreet@gmail.com</a>
          </address>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <h5>Open hours</h5>
        <hr class="hr-foot">
        <div class="footer-items">
          <ul>
            <li>Mon-Fri: 8:00 AM- 9:00 PM</li>
            <li>Sat : 4:00 PM- 11:00 PM</li>
            <li>Sun : 4:00 PM- 11:00 PM</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <a class="to-top" href="#myPage" title="toTop">
    <i class="fa fa-chevron-up"></i>
  </a>
</footer>

<div class="footer-copyright">
  <p>&copy 2024 Copyright by <a href="https://github.com/KingsLandingCS"> https://github.com/KingsLandingCS</a></p>
</div>
