<div class="container mt-3">
  <form (ngSubmit)="submitLoginForm()" [formGroup]="userLoginForm">
    <div class="mb-3">
      <label>Email address</label>
      <input type="email" class="form-control" formControlName="email">
      <div>We'll never share your email with anyone else.</div>
      <!-- email validation -->
      <div class="error text-danger"
        *ngIf="userLoginForm.controls['email'].invalid && (userLoginForm.controls['email'].dirty || userLoginForm.controls['email'].touched)">
        <span *ngIf="userLoginForm.controls['email'].errors.required">
          <small>Field Required!</small>
        </span>
      </div>
    </div>

    <div class="mb-3">
      <label>Password</label>
      <input [type]="hide ? 'password' : 'text'" class="form-control input1" formControlName="password">
      <span *ngIf="hide === false" (click)="toggle()"><i class="fa-solid fa-eye"></i></span>
      <span *ngIf="hide === true" (click)="toggle()"><i class="fa-solid fa-eye-slash"></i></span>
      <!-- password validation -->
      <div class="error text-danger"
        *ngIf="userLoginForm.controls['password'].invalid && (userLoginForm.controls['password'].dirty || userLoginForm.controls['password'].touched)">
        <span *ngIf="userLoginForm.controls['password'].errors.required">
          <small>Field Required!</small>
        </span>
      </div>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="userLoginForm.invalid">Submit</button>
  </form>
  <small class="mt-4">If already Logged in then go to <a routerLink="../signupForm">sign up</a></small>
</div>
